RewriteEngine on

ErrorDocument 403 /api/error.php?code=403
ErrorDocument 404 /api/error.php?code=404
ErrorDocument 500 /api/error.php?code=500

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]